--extra-index-url https://pypi.nvidia.com
bentoml>=1.4.12
tensorrt==10.9.0.34
tensorrt_cu12==10.9.0.34
tensorrt_cu12_bindings==10.9.0.34
tensorrt_cu12_libs==10.9.0.34
tensorrt_llm==0.18.2
flashinfer-python==0.2.5
